
@media screen and (min-width:1200px) {
    

.bodyupdate{
    height: var(--windowheight);
    width: var(--windowwidth);
   overflow: scroll;

}

.bodyupdate::-webkit-scrollbar{
    display: none;
}



.bodyupdate > .trackorderformcontainer {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(225, 221, 221);
   

}
.bodyupdate > .trackorderformcontainer > ul{
    margin-block: 200px;
    padding: 0;
    list-style: none;
    font-size: 30px;
    width: auto;
    background-color: white;
    padding: 200px 200px 200px 200px;
}
.bodyupdate > .trackorderformcontainer > ul > li {}
.bodyupdate > .trackorderformcontainer > ul > li   {}

.bodyupdate > .trackorderformcontainer > ul > li > .printinvoice {
    margin-top: 30px;
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 10px;
    float: right;
    font-size: 15px;
    width: 100px;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
}

.bodyupdate > .trackorderformcontainer > ul > li > .printinvoice:hover {
    background-color: rgb(140, 139, 136);
}




.bodyupdate > .trackorderformcontainer > ul > li.h1{
    font-weight: 500;
    margin: 0px 0px 20px 0px;
    font-size: 60px;
}
.bodyupdate > .trackorderformcontainer > ul > li > table{

}

.bodyupdate > .trackorderformcontainer > ul > li > table{
    width: 1900px;
    background-color: white;
    
}
.bodyupdate > .trackorderformcontainer > ul > li > table, 
.bodyupdate > .trackorderformcontainer > ul > li > table > tr ,
.bodyupdate > .trackorderformcontainer > ul > li > table > tr > td {
     border: 1px solid rgb(190, 186, 186);
    border-collapse: collapse; 
}

.bodyupdate > .trackorderformcontainer > ul > li > table > tr > td.h1 {
   font-weight: 700;

}
.bodyupdate > .trackorderformcontainer > ul > li > table > tr > td {
    padding: 10px 10px 10px 10px;
    vertical-align: top;
    
}

.bodyupdate > .trackorderformcontainer > ul > li > table > tr.trinput > td{ 
  vertical-align: middle;
}
.bodyupdate > .trackorderformcontainer > ul > li > table > tr{
    height: 50px;
}
.bodyupdate > .trackorderformcontainer > ul > li > table > tr.trinput{
    height: 50px;
}

.bodyupdate > .trackorderformcontainer > ul > li > table > tr > td > .buttontrack {
    background-color: black;
    color: antiquewhite;
    padding: 15px;
    border-radius: 40px;
    font-size: 15px;
    width: 200px;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
}

.bodyupdate > .trackorderformcontainer > ul > li > table > tr > td > .buttontrack:hover { background-color: orange;}



.bodyupdate > .trackorderformcontainer > ul > li > table > tr > td {}
.bodyupdate > .trackorderformcontainer > ul > li > table > tr > td > input {
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(201, 200, 200);
    color: rgb(89, 89, 89);
    width: 400px;
    height: 90px;
    border-radius: 5px;
}



.bodyupdate > .trackorderformcontainer > ul > li.trackform {

}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul  {
    list-style: none;
    padding: 0;
    /* list-style-type: none; */
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li  {}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.title  {
    height: auto;
    font-weight: 500;
    font-size: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.barcode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}  
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.barcode > .photo {
 
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.barcode > .photo >.barcode {

  
} 
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.barcode > .code{
    font-size: 20px;
    color: rgb(96, 95, 95);
}  
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li  {}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li > div {}

.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver{
    padding: 40px 0px 40px 0px;
    margin: 0px;
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul {
    list-style: none;
    padding: 0;
    list-style-type: none;
}


.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li {}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li.h1 {
  
    font-weight: 600;

}
/* .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li.space {
  width: 200px;
} */
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li > div {
    margin-block: 20px;
    font-size: 15px;
    color: rgb(80, 78, 78);
  
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li > div > input {
    margin-block: 20px;
    font-size: 20px;
    color: rgb(80, 78, 78);
    height: 40px;
    width: 400px;
  
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li.line > div {
    background-color: rgb(164, 161, 161);
  height: 1px;
  width: 100%;
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li.line1 > div {
  background-color: rgb(164, 161, 161);
  height: 1px;
  width: 90%;
}

.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li > ul > li {}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li > ul > li > div {}



.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shipstatus {
    width: 100%;
    background-color: rgb(175, 170, 170);
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    font-weight: 100;
    
}

.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.S1{

}


.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.line {
    background-color: rgb(164, 161, 161);
    height: 2px;
    width: 100%;
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li {
    margin-block: 10px;
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info {
    height: auto;
    padding: 20px 0px 20px 0px;
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info > ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info > ul > li {
    margin-block: 6px;
}

.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info > ul > li > div{
    margin-block: 6px;
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info > ul > li > div.h1{
    font-size: 18px;
    font-weight: 600;
    color: rgb(65, 65, 65);
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info > ul > li  > div.text{
    font-size: 15px;
    color: rgb(112, 111, 111);
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info > ul > li  > div.text > input{
    font-size: 15px;
    color: rgb(112, 111, 111);
}

.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li {}

.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable {}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul{
    list-style: none;
    padding: 0;
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li.S1{
    font-size: 20px;
    font-weight: 600;
    color: rgb(65, 65, 65);
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li.line{
    background-color: rgb(164, 161, 161);
    height: 2px;
    width: 100%;
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li{
    margin-block: 20px;
}


.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table, 
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table >  tr, 
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table >  tr > td {
   border-collapse: collapse;
    border: 4px solid rgb(230, 230, 230);
} 


.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table{
  width: 100%;
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table > tr{
    height: 50px;
    font-size: 15px;
}

.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table > tr > td > input{
       font-size: 15px;
    color: rgb(112, 111, 111);
}


.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table > tr.headtitle{
    height: 50px;
    color:white;
    background-color: rgb(74, 189, 122);
    font-size: 15px;
    font-weight: 600;
    padding: 0px 5px 0px 5px;
}
.bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table > tr > td{
    text-align: center;
}


}



























































@media screen and (max-width:1200px) {
    



    .bodyupdate{
        height: var(--windowheight);
        width: var(--windowwidth);
       overflow-y: scroll;
       overflow-x: hidden;
    
    }
    
    .bodyupdate::-webkit-scrollbar{
        display: none;
    }
    
    
    
    .bodyupdate > .trackorderformcontainer {
       
        height: auto;
        display: flex;
        overflow-x: hidden;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        background-color:white;
    
    }
    .bodyupdate > .trackorderformcontainer > ul{
        margin-block: 10px;
        padding: 0;
        list-style: none;
        font-size: 15px;
        width: auto;
        background-color: white;
        padding: 50px 200px 50px 200px;
    }
    .bodyupdate > .trackorderformcontainer > ul > li {}
    
    .bodyupdate > .trackorderformcontainer > ul > li > .printinvoice {
        margin-top: 10px;
        background-color: blue;
        color: white;
        padding: 10px;
        border-radius: 10px;
        font-size: 15px;
        width: 100px;
        float: right;
        text-align: center;
        transition: background-color 0.5s ease-in-out;
    }
    
    .bodyupdate > .trackorderformcontainer > ul > li > .printinvoice:hover {
        background-color: rgb(140, 139, 136);
    }
    
    
    
    
    .bodyupdate > .trackorderformcontainer > ul > li.h1{
        font-weight: 500;
        /* margin: 0px 0px 10px 0px; */
        font-size: 20px;
    }
    .bodyupdate > .trackorderformcontainer > ul > li > table{
    
    }
    
    .bodyupdate > .trackorderformcontainer > ul > li > table{
        width: 90%;
        background-color: white;
        
    }
    .bodyupdate > .trackorderformcontainer > ul > li > table, 
    .bodyupdate > .trackorderformcontainer > ul > li > table > tr ,
    .bodyupdate > .trackorderformcontainer > ul > li > table > tr > td {
         border: 1px solid rgb(190, 186, 186);
        border-collapse: collapse; 
    }
    
    .bodyupdate > .trackorderformcontainer > ul > li > table > tr > td.h1 {
       font-weight: 700;
    
    }
    .bodyupdate > .trackorderformcontainer > ul > li > table > tr > td {
        /* padding: 10px 10px 10px 10px; */
        vertical-align: top;
        
    }
    
    .bodyupdate > .trackorderformcontainer > ul > li > table > tr.trinput > td{ 
      vertical-align: middle;
    }
    .bodyupdate > .trackorderformcontainer > ul > li > table > tr{
        height: 40px;
    }
    .bodyupdate > .trackorderformcontainer > ul > li > table > tr.trinput{
        height: 40px;
    }
    
    .bodyupdate > .trackorderformcontainer > ul > li > table > tr > td > .buttontrack {
        background-color: black;
        color: antiquewhite;
        padding: 10px;
        border-radius: 10px;
        font-size: 15px;
        width: 100px;
        text-align: center;
        transition: background-color 0.5s ease-in-out;
    }
    
    .bodyupdate > .trackorderformcontainer > ul > li > table > tr > td > .buttontrack:hover { background-color: orange;}
    
    
    
    .bodyupdate > .trackorderformcontainer > ul > li > table > tr > td {}
    .bodyupdate > .trackorderformcontainer > ul > li > table > tr > td > input {
        font-size: 15px;
        background-color: rgb(255, 255, 255);
        border-color: rgb(201, 200, 200);
        color: rgb(89, 89, 89);
        width: 200px;
        height: 40px;
        border-radius: 5px;
    }
    
    
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform {
    
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul  {
        list-style: none;
        padding: 0;
        /* list-style-type: none; */
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li  {}
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.title  {
        height: auto;
        font-weight: 500;
        font-size: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.barcode{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }  
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.barcode > .photo {
     
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.barcode > .photo >.barcode {
    
      
    } 
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.barcode > .code{
        /* font-size: 2px;
        color: rgb(96, 95, 95); */
    }  
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li  {}
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li > div {}
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver{
        padding: 10px 0px 10px 0px;
        margin: 0px;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul {
        list-style: none;
      
        padding: 0;
    }
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul {
        list-style: none;
        padding: 0;
        list-style-type: none;
    }
    
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li {}
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li.h1 {
      
        font-weight: 600;
        font-size:20px;
    
    }
    /* .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li.space {
      width: 200px;
    } */
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li > div {
        margin-block: 10px;
        font-size: 15px;
        color: rgb(80, 78, 78);
      
    }
    /* .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li.line > div {
        background-color: rgb(164, 161, 161);
      height: 2px;
      width: 90%;
    } */
    /* .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.sendandreciver > ul >li > ul > li.line1 > div {
      background-color: rgb(164, 161, 161);
      height: 2px;
      width: 80%;
    } */
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li > ul > li {}
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li > ul > li > div {}
    
    
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shipstatus {
        width: 100%;
        background-color: rgb(175, 170, 170);
        color: white;
        text-align: center;
        padding: 10px 0px 10px 0px;
        font-size: 15px;
        font-weight: 100;
        
    }
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.S1{
    
    }
    
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.line {
        background-color: rgb(164, 161, 161);
        height: 2px;
        width: 100%;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li {
        margin-block: 10px;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info {
        height: auto;
        padding: 10px 0px 10px 0px;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info > ul {
        list-style: none;
        padding: 0;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info > ul > li {
        margin-block: 10px;
    }
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info > ul > li > div{
        margin-block: 10px;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info > ul > li > div.h1{
        font-size: 15px;
        font-weight: 600;
        color: rgb(65, 65, 65);
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.info > ul > li  > div.text{
        font-size: 14px;
        font-weight: 600;
        color: rgb(112, 111, 111);
    }
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.S1 {
        font-size: 20px;
        font-weight: 600;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li {}
    
    
    
    
    
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable {}
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul{
        list-style: none;
        padding: 0;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li.S1{
        font-size: 20px;
        font-weight: 600;
        color: rgb(65, 65, 65);
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li.line{
        background-color: rgb(164, 161, 161);
        height: 2px;
        width: 100%;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li{
        margin-block: 20px;
    }
    
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table, 
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table >  tr, 
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table >  tr > td {
       border-collapse: collapse;
        border: 4px solid rgb(230, 230, 230);
    } 
    
    
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table{
      width: 100%;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table > tr{
        height: 120px;
        font-size: 35px;
    
        /* font-weight: 600; */
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table > tr.headtitle{
        height: 120px;
        color:white;
        background-color:  rgb(74, 189, 122);
        font-size: 15px;
        font-weight: 600;
        padding: 0px 10px 0px 10px;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.formtable > ul > li > table > tr > td{
        text-align: center;
    }
    













/* shipment history mobile */

    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile{

        height: auto;
    }

    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile > li.S1{
        font-size: 20px;
        font-weight: 600;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile > ul{
        list-style: none;
        padding: 0;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile > ul > li {
        margin-block: 0px;
        border: 1px solid rgb(194, 193, 193);
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile > ul > li.sendershipmobile {
       background-color: rgb(241, 238, 238);
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile > ul > li > ul {
        list-style: none;
        padding: 0;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile > ul > li > ul > li{
     
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile > ul > li > ul > li > ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        /* justify-content: space-between; */
      
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile > ul > li > ul > li > ul >  li{
        margin-inline: 20px;
        margin-block: 10px;
    }
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile{}
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile{}
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile{}
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile{}
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile{}
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile{}
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile{}
    .bodyupdate > .trackorderformcontainer > ul > li.trackform > ul > li.shpipmenthistorymobile{}
    
    
    }
